<div class="row mt-1 ps-2 justify-content-around pe-2" (click)="navigateToHome()" style="cursor: pointer;">
  <div class="col-4 d-flex justify-content-center align-items-center" style="background-color: #aebcc0; border-radius: 1rem; cursor: pointer;">
    <a [routerLink]="['']"><i class="bi bi-house-door" style="font-size: 1.25rem; color: #000000; font-weight: bolder;" ></i></a>

 </div>

 <div class="col-4 d-flex justify-content-center align-items-center" style="background-color: #aebcc0; border-radius: 1rem; cursor: pointer; font-weight: bold;">
  <a [routerLink]="['/openorders']" style="text-decoration: none; color:#000000;" class="tnr">Open Orders</a>

</div>
 </div>

<div class="container mt-2">
  <div class="row justify-content-center">
    <span class="tnr btn btn-warning" style="font-weight: bold;"> <div>File Browser</div><div> //{{poNum??''}}</div></span>

  </div>
<div *ngFor="let file of listOfFiles; let i = index" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}" class="row tnr p-1 mt-1" style="cursor: pointer;"
(click) = "downloadFileFromDirectory(file, poNum??'')">
  <div class="col-12" style="font-size: larger; text-decoration: underline; flex-wrap: wrap;
  overflow-wrap: break-word; max-width: 100%;"> <i class="bi bi-file-earmark-image pe-2"></i><span style="word-break: break-word;">{{file}}</span></div>
  </div>
</div>
<app-image-preview [fileURL] = "fileURL" [display]="imagePreview" [whetherPdf]="whetherPdf"  (toggleDisplay)="hidePreview($event)"></app-image-preview>

@if(isLoading)
{
<div class="spinner-container">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
}
